<div class='dateAndTime'>
    <div class='header'>
        <h3>Ahmad Rattu - Assignment 1</h3>
    </div>

    <h4>America, New York Date & Time:</h4>
    <p>{{dayMonth}} ({{month}}/{{day}}/{{year}})</p>
    <p>{{hour}}:{{minute}}:{{seconds}}:{{ms}}ms GMT-0400 (Eastern Daylight Time) </p>

    <h4>China, Shanghai Time:</h4>
    <p>{{tz}}</p>
    <br>

    <button class='refresh' onclick={{action refresh}}>Refresh Time & Date</button>
</div>